:root {
    --cor-primaria: #000;
    --cor-secundaria: #fff;
}

.hidden {
    display: none;
}

.lightmode-text {
    color: var(--cor-primaria);
}

.lightmode-bg {
    background-color: var(--cor-secundaria);
}

.darkmode-text {
    color: var(--cor-secundaria);
}

.darkmode-bg {
    background-color: var(--cor-primaria);
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headermobile-menu_lista {
    position: absolute;
    padding: 0.5rem;
    top: 57px;
    left: 0;
    width: 80px;
    height: 70px;
    border-radius: 0 0 5px 0;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.headermobile-menu_lista ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-menu-lista_item {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .headermenumobile-logo {
        width: 25px;
        height: 25px;
    }

    .header-title {
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .mobile-menu_item_text {
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}

@media screen and (min-width: 426px) and (max-width: 940px) {
    .headermenumobile-logo {
        width: 30px;
        height: 30px;
    }

    .header-title {
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .headermobile-menu_lista {
        width: 90px;
        height: 70px;
        top: 59px;
    }

    .mobile-menu_item_text {
        color: var(--cor-primaria);
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    
}

@media screen and (min-width: 940px) {
        .headermobile-menu {
            display: none;
        }

        .header-menu {
            display: flex;
        }

        .header-menu ul {
            display: flex;
            gap: 1rem;
        }
}