:root {
    --cor-primaria: #000;
    --cor-secundaria: #fff;
}

.hidden {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.headermobile-menu_lista {
    position: absolute;
    padding: 0.5rem;
    top: 57px;
    left: 0;
    width: 80px;
    height: 70px;
    border-radius: 0 0 5px 0;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.headermobile-menu_lista ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-menu-lista_item {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-menu-lista_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu_item_text {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .headermenumobile-logo {
        width: 25px;
        height: 25px;
    }

    .header-title {
        font-size: 1.5rem;
    }

    .mobile-menu_item_text {
        font-size: 1rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 1200px) {
    .headermenumobile-logo {
        width: 30px;
        height: 30px;
    }

    .header-title {
        font-size: 2rem;
    }

    .headermobile-menu_lista {
        width: 90px;
        height: 75px;
        top: 59px;
    }

    .mobile-menu_item_text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 940px) {
    .headermobile-menu {
        display: none;
    }

    .header-menu {
        display: flex;
    }

    .header-menu ul {
        display: flex;
        gap: 1rem;
    }
}

@media screen and (min-width: 1201px) {
    .headermenumobile-logo {
        width: 35px;
        height: 35px;
    }

    .header-title {
        font-size: 2.1rem;
    }

    .header-menu-lista_item {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2100px) {
    .headermenumobile-logo {
        width: 45px;
        height: 45px;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-menu-lista_item {
        font-size: 2rem;
    }
}