/* Titulo de bem-vindo */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 2rem;
}

.welcome-title {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}

.hr-welcome {
    width: 105%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
}

.welcome-text {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Sobre mim */
.sobremim-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremim-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #333;
    background-color: whitesmoke;
    border-radius: 5px;
}

.sobremim-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sobremim-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobremim-img {
    width: 90%;
    border-radius: 50%;
    margin-right: 1rem;
}

.sobremim-title, .hobbies-title {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.hr-sobremim, .hr-hobbies {
    width: 80%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
}

.sobremim-text, .hobbies-text {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* Hobbies */
.hobbies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #333;
    background-color: whitesmoke;
    border-radius: 5px;
}

/* Slider */
.sliderfotos {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajuste conforme necessário */
    margin: auto;
}

.slide {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.slide-container {
    position: relative;
    display: block; /* ou display: none; para esconder slides não ativos */
}

.descricao {
    position: absolute;
    bottom: 0; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    color: white; /* Cor do texto */
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding: 8px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Garante que padding não aumente a largura total */
    border-radius: 0px 0px 10px 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

@media screen and (min-width: 426px) and (max-width: 1200px) {
    .welcome-title {
        font-size: 1.5rem;
    }

    .welcome-text, .sobremim-text, .hobbies-text {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 768px) {
    .sobremim-texts {
        flex-direction: row;
        align-items: flex-start;
    }

    .sobremim-img {
        width: 50%;
        max-width: 400px;
        border-radius: 20%;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1201px) {
    .welcome-title {
        font-size: 1.7rem;
    }

    .welcome-text {
        font-size: 1.1rem;
    }

    .sobremim-section {
        flex-direction: row;
    }

    .sobremim-title, .hobbies-title {
        font-size: 1.5rem;
    }

    .sobremim-text, .hobbies-text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2100px) {
    .welcome-title {
        font-size: 2rem;
    }

    .welcome-text {
        font-size: 1.3rem;
    }

    .sobremim-title {
        font-size: 1.7rem;
    }

    .sobremim-text {
        font-size: 1.4rem;
    }
}