/* Titulo de bem-vindo */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 2rem;
}

.welcome-title {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}

.hr-welcome {
    width: 105%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
}

.welcome-text {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Sobre mim */
.sobremim-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sobremim-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #333;
    background-color: whitesmoke;
    border-radius: 5px;
}

.sobremim-title, .hobbies-title {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.hr-sobremim, .hr-hobbies {
    width: 80%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
}

.sobremim-text, .hobbies-text {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* Hobbies */
.hobbies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #333;
    background-color: whitesmoke;
    border-radius: 5px;
}


@media screen and (min-width: 426px) and (max-width: 1200px) {
    .welcome-title {
        font-size: 1.5rem;
    }

    .welcome-text, .sobremim-text, .hobbies-text {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1201px) {
    .welcome-title {
        font-size: 1.7rem;
    }

    .welcome-text {
        font-size: 1.1rem;
    }

    .sobremim-section {
        flex-direction: row;
    }

    .sobremim-title, .hobbies-title {
        font-size: 1.5rem;
    }

    .sobremim-text, .hobbies-text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2100px) {
    .welcome-title {
        font-size: 2rem;
    }

    .welcome-text {
        font-size: 1.3rem;
    }

    .sobremim-title {
        font-size: 1.7rem;
    }

    .sobremim-text {
        font-size: 1.4rem;
    }
}